
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Staff DashBoard</a>
      <form class="d-flex" role="search">

        <button class="btn btn-danger mx-3" type="submit" (click)="logout()">Logout</button>
      </form>
    </div>
  </nav>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                   
                    
                    <li>
                        <a routerLink="/leave-management" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">LMS</span></a>
                    </li>
                    
                    
                    
                </ul>
                <hr>
                
            </div>
        </div>
        <div class="col py-3">
            
            
        </div>
    </div>
  